<% if @model == 'user' %>
	<h3>ユーザーが"<%= @content %>"の検索結果</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'post' || @model == 'tag' %>
	<h3>投稿が"<%= @content %>"の検索結果</h3>
  <%= render 'public/posts/index', posts: @records %>
<% end %>