<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>Welcome to <strong>D&C</strong>  !!</h1>
      <h2>D&Cの特長</h2>
      <p><i class="fa-solid fa-paw"></i>ペット専用のSNS</p>
      <p><i class="fa-solid fa-paw"></i>日々のかわいい瞬間を共有できる</p>
      <p><i class="fa-solid fa-paw"></i>フォロー機能もあり！</p>
      <p><i class="fa-solid fa-paw"></i>ペットの成長記録にも</p>

      <% if user_signed_in? %>
        <div></div>
      <% else %>
        <div class="row">
          <%= link_to 'ログイン', new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to '新規登録', new_user_registration_path, class: "btn btn-success btn-sm btn-block mb-3 sign_up" %>
        </div>
        <div class="row">
          <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
      <% end %>
    </div>
  </div>
</div>
