
<div class="mx-auto" style="width: 800px;">
<h1>D&C</h1>
<h2>犬や猫が主役のSNS</h2>

<h4>D&Cの特長</h4>

<P><i class="fa-solid fa-paw"></i>投稿時に自分の登録したペットを選択できる</p>
<P><i class="fa-solid fa-paw"></i>動物専用のSNS</p>
<P><i class="fa-solid fa-paw"></i>日々の成長記録にも</p>
</div>
