<div class="mx-auto" style="width: 800px;">
  <div class="text-center">
    <h1 class= mt-5>D&C</h1>
    <h2 class= mt-3>犬や猫が主役のSNS</h2>
    <h4>D&Cの特長</h4>
  </div>
  <p><i class="fa-solid fa-paw"></i>ペット専用のSNS</p>
  <p><i class="fa-solid fa-paw"></i>日々のかわいい瞬間を共有できる</p>
  <p><i class="fa-solid fa-paw"></i>フォロー機能もあり！</p>
  <p><i class="fa-solid fa-paw"></i>ペットの成長記録にも</p>
</div>