<h1>ペット情報</h1>
<%= link_to "新規ペット登録", new_pet_path %>
<% @pets.each do |pet| %>
  <span>
    <%= link_to pet.name, pet_path(pet.id) %>
  </span>
  
  <span>
   <%= image_tag pet.image, size: "200x200" %>
  </span>
  
<% end %>
